# EHR SQL Analysis
This notebook guides students through SQL and Python-based analysis of electronic health record (EHR) data.

In [ ]:
import pandas as pd
import sqlite3

## Load EHR CSV Files

In [ ]:
patients = pd.read_csv('data/patients.csv')
encounters = pd.read_csv('data/encounters.csv')
allergies = pd.read_csv('data/allergies.csv')
providers = pd.read_csv('data/providers.csv')
patients.head()

## Set Up SQLite Database

In [ ]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

## Student Task: Create SQL Tables
Write the SQL to create the tables below.

In [ ]:
# Example:
cursor.execute('''
CREATE TABLE patients (
    Id TEXT PRIMARY KEY,
    BIRTHDATE TEXT,
    SSN TEXT,
    FIRST TEXT,
    LAST TEXT
);
''')

## Insert Data into SQL Tables

In [ ]:
# You can use pandas to_sql after tables are created
# patients.to_sql('patients', conn, if_exists='append', index=False)

## Query Your Data with SQL

In [ ]:
cursor.execute('SELECT * FROM patients LIMIT 5')
cursor.fetchall()

## Create a Denormalized Table for Analysis

In [ ]:
# Example: CREATE TABLE analysis AS SELECT ...

## Analyze in Python

In [ ]:
# Example: Load analytical table into pandas
# df = pd.read_sql_query('SELECT * FROM analysis', conn)
# df.describe()

## Export Final Table for Tableau

In [ ]:
# df.to_csv('analysis_export.csv', index=False)